services:
  svelte-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mrf-ui
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - ORIGIN=http://localhost:3000